<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"> -->
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
    </script>

    <title>GOAL</title>
</head>
<body>
    <div class=" main-container" style="padding: 5em;">
        <h1>GOAL - GO Application for Loading</h1>
        <p>This application will help you to book Pertamina's Jetty for your needs.</p>
        <p>This application is still under development. We need to publish it to appstore because there are many users from companies who want to test this application.</p>
        <br><br><br>
        <b>Contact Us</b>
        <p>If you have any questions or suggestions about my Application, do not hesitate to contact me at 
            <a href="mailto:vinz.bima@gmail.com">vinz.bima@gmail.com</a>.
        </p>
        <a href="privacy">Privacy Policy</a>
    </div>
</body>
</html>